<h2>List of favorite things</h2>

<% @list.each do |item| %>
  <p><a href='items/<%= item.id %>'><%= item.name %></a></p>
<% end %>

<form action='/' method='post'>
  <div class='form-group'>
    <label for='item'>Item</label>
    <input id='item' name='item' class='form-control' type='text'>
  </div>
  <div class='form-group'>
    <label for='item-ranking'>Ranking (0-10)</label>
    <input id='item-ranking' name='item-ranking' class='form-control' type='number'>
  </div>
  <button type='submit' class='btn'>Add</button>
</form>
